<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
    <http  use-expressions="true">
		
    	<!-- 默认前缀是 ROLE_   -->
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/video/**" access="hasRole('ROLE_OPERATOR')" />
        <intercept-url pattern="/game/**" access="hasRole('ROLE_OPERATOR')" />
        
        <!-- default-target-url 是验证成功后跳转的页面 -->
        <form-login 
            login-page="/login"
            default-target-url="/version/list"
            authentication-failure-url="/login" />
        <logout logout-success-url="/login" />
        
        <remember-me  key="wearerainbow" token-validity-seconds="604800" />
    </http>
    
    <authentication-manager erase-credentials="false" >
        <authentication-provider>
            <!-- <password-encoder hash="md5">
                <salt-source user-property="email"/>
            </password-encoder> -->
            <jdbc-user-service data-source-ref="dataSource"
                users-by-username-query="select name, password, 1 from t_user where name = ?" 
                authorities-by-username-query="select u.name, r.role from t_user u left join t_role r on u.role_id=r.id where name = ?" 
            />
        </authentication-provider>
    </authentication-manager>
    
</beans:beans>